/* External styling not handled by Bootstrap. */

.bg-viewport {
    min-height: 100vh;
}

.background-dark {
    background-color: var(--bs-dark);
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

.text-decoration-none {
    text-decoration: none;
}

.bg-nav {
    background-color: #373A3E;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.nav-active {
    text-decoration: none;
    font-weight: bold;
}

.social-links {
    color: var(--bs-light)
}

.social-links:hover {
    color: #A9A9A9;
}

.nav-active div {
    background-color: var(--bs-primary);
    border-radius: 4px;
}

.nav-active:hover div {
    background-color: #0B63E3;
}

.nav-hover div {
    border-radius: 4px;
}

.nav-hover:hover div {
    background-color: var(--bs-secondary);
    border-radius: 4px;
}

@media screen and (max-width: 991px) {
    .flex-mobile {
        flex-direction: column-reverse;
    }
}

.massive-space-top {
    padding-top: 150px;
}

.massive-space-bottom {
    padding-bottom: 150px;
}

.lg-icon {
    font-size: 150px;
}